// Path: main/conf/offline.config
// Usage: All offline related configuration

workDir = "/tmp/off-work-rnaseq"
params {

    outdir = "/tmp/off-rnaseq-out"
    input = "s3://lifebit-user-data-nextflow/offline/demo/data/inputs3.csv"
    // Genome references
    igenomes_ignore =  true
    igenomes_base = ''
    custom_config_base = ''
    pipelines_testdata_base_path = ''
}
